@import "../Vars.scss";

h3 {
  margin-left: 20px;
  font-size: 0.8em;
  font-weight: 700;
  color: $primaryColor;
  background-color: $color2;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
